body
{

    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 113, 1) 35%, rgba(0, 212, 255, 1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lab(68.87% -5.34 16.02); /* fallback color if gradient isn't supported */
    color: rgb(27, 27, 27);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    max-width: 800%;
    background: linear-gradient(90deg, rgb(212, 211, 219) 0%, rgb(190, 196, 195) 35%, rgb(163, 180, 184) 100%);
    padding: 40px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
h1, h2 {
    color: #4259a5;
    padding-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    margin-top: 0;
}
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}
form input[type="text"] {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
}
form button {
    padding: 10px 20px;
    background-color: #4259a5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #2c3e8f;
}
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}
tbody td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}
tbody tr:nth-child(even) {
    background-color: #f5f1f1;
}
tbody tr:hover {
    background-color: #f5f1f1;
}
.pagination {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
div.pagination span {
    display: inline-block;
    margin: 0 5px;
}

.excluir-button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.escluir-button:hover {
    background-color: #c0392b;
}
.concluir-button {
    padding: 5px 10px;
    background-color: #27ae60;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}
.concluir-button:hover {
    background-color: #1e8449;
}
.editar-button {
    padding: 5px 10px;
    background-color: #2980b9;
    color: rgb(235, 30, 30);
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}
.editar-button:hover {
    background-color: #21618c;
}
a {
    text-decoration: none;
    color: #21618c;
}
th a:hover {
    text-decoration: underline;

}
tr  {
    text-align: center;

}
.pagination a.active {
    text-decoration: nome;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0 3px;
    border-radius: 4px;
    color: black;

}
.pagination a :hover {
    background-color: #110ef1;
    color: antiquewhite;
}

.action-buttons {
    background-color: red;
    color: #fff;
    padding: 6px 12px;
    text-decoration: none  ;
    border-radius: 4px;
    font-size: 14px;
}
.btn-delete:hover{
    background-color: darkred;
}