<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Minhas Tarefas</h1>
        <h2>Adicionar Nova Tarefa</h2>
        <form th:action="@{/Adicionar}" th:object="${novaTarefa}" method="post">
            <input type="text" th:field="*{titulo}" placeholder="Titudo da Tarefa" required>
            <input type="text" th:field="*{descricao}" placeholder="descricao da Tarefa" required>
            <button type="submit">Adicionar</button>
        </form>
        <hr>
        <h2>Terefas Cadastradas</h2>
    </div>
</body>
</html>